*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    padding-top: 65px;
}

/* HEADER */
header{
    position: fixed;
    z-index: 4;
    width: 100%;
    background-color: #F8F9FB;
    height: 65px;
}

.h-logo, .h-icons{
    background-color: white;
}

.h-search{
    background-color: #E5E5E5;
}

.mobile-logo{
    width:50px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.list-group a{
    padding: 8px 0;
    width: 50%;
}
/* SIDEBAR */
.col-200{
    width: 200px;
}
.sidebar{
    background-image: url(../img/sidebar-bg.png);
    height: 100%;
    position: fixed;
    width: 50px;
    background-color: #051E34;
}

.sidebar-list, .sidebar-option{
    height: 100px;
    margin: 15px 0;
}

.sidebar-option{
    padding-left: 10px;
}

.display-inherit{
    display: inherit;
}

.sidebar-list li, .sidebar-option{
    padding:0;
    margin:10px 0
}

/* RIGHT MAIN */
.right-main{
    background-color: #F8F9FA;
}
.col-80{
    width: 100%;
    padding-left: 60px;
}
/* UPPER NAVBAR */
.upper-navbar{
    width: 100%;
    background-color: #1B72E7;
    padding: 20px 0;
}
.topic-badge{
    background-color: #165BBA;
}
.upper-plus{
    background-color: #165BBA;
    padding: 5px 6px;
    border-radius: 50%;
    font-size: 11px;
}
.add{
    border-radius: 8px;
    border: 1px solid #fff;
    height: 40px;
    width: 40px;
    position:relative;
}

.white{
    color: #fff;
}
/* MIDDLE MAIN */

.next-class, .todo, .faq, .users{
    border: 1px solid rgb(151, 151, 151);
    border-radius: 20px;
    background-color: white;
}


.fa-code{
    background-color:#F26551 ;
    padding: 7px 5px;
    border-radius: 50%;
    font-size: 15px;
}



.font-size-table{
    font-size: 15px;
}

.table-header{
    margin-bottom:0 ;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: #F7F7F7;
    border-top: 1px solid rgb(151, 151, 151) ;
}

.todo-border{
    border-radius: 50px;
}

#stats-img{
    max-width: 100%;
}

/* MEDIA QUERY */
@media screen and (max-width:768px){
    .display-none{
        display: none;
    }
}

@media screen and (min-width:991px){
    .sidebar{
        width:200px
    }
    .col-80{
        width: calc(100% - 200px);
        padding-left: 10px;
        
    }
    .sidebar-list li, .sidebar-option{
        padding-left:20px;
        margin:10px 0
    }
}